<div class="background">
  <br>
<div class="container contact-form">
  <h1>Contact Form</h1>
  <hr>
  <div class="row">
  <div class="col-md-6">
    <address>Cessna Business Park</address>
    <p>Email:-jas@cisco.com</p>
    <p>Phone:-4545267289</p>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Message</label>
      <textarea class="form-control" rows="7"></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn block">Send</button>
    </div>
  </div>
</div>
</div>
