.contact-form{
  background: rgba(0, 0, 0, 0.185);
  color: white;
  border-radius: 20px 20px 20px 20px; 
  border: 1px solid #96cca4 !important;
  font-family: lato; 
  height: 135vh; 
  box-shadow: 0px 0px 10px 3px grey;
  /* margin-top: 10px;  */
  width:50% ;
  }
  .background{
    /* background-color: rgb(25, 85, 119);   */
   background-image: url('../../../assets/any98.jpg');  
  background-size: cover;
  height:140vh;
  /* margin-top:-18px; */
  /* padding: 20px;  */
  
  }
  .hr{
  background: white;
  }
  .form-group{ 
  padding: 0; 
  }