.contact-form{
  background: rgba(0, 0, 0, 0.125);
  color:black;
  border-radius: 50px 0px 50px  0px; 
  border: 1px solid #96cca4 !important;
  font-family: lato; 
  height: 150vh; 
  width: 40rem;
  box-shadow: 0px 0px 10px 3px grey;
  }
  .background{
    background-image:linear-gradient(to bottom right, lightgrey,lightblue);
  background-size: cover;
  height:170vh;
  }
  .hr{
  background: white;
  }
  .form-group{ 
  padding: 0; 
  }
  .form-group.col-12{
    font-size: 1.5rem;
    margin-left: -70px;
    font-family: 'lato'; 
  }