<!-- Instructions to use Modal in other components:

<div class="container"> 
  <div class="container">
    <app-modal [modalConfig]="modalConfig"></app-modal>
  </div>
</div>

-->
<div class="container">
  <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="modalConfig.show ? 'block' : 'none'">
  <div class="modal-dialog">
  <div class="modal-content">
  
  <!-- Modal Header -->
  <div class="modal-header">
  <h4 class="modal-title">{{ modalConfig.title }}</h4>
  <button type="button" class="close" data-dismiss="modal" (click) = "hideModal()">&times;</button>
  </div>
  
  <!-- Modal body -->
  <div class="modal-body">
  {{ modalConfig.body }}
  </div>
  
  <!-- Modal footer -->
  <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hideModal()">Close</button>
  </div>
  
  </div>
  </div>
  </div>
  </div>