<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{sendData.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"><p>{{sendData.body}}</p>
      </div>
      <div class="modal-footer" *ngFor ='let b of sendData.btn'>
        <button type="button" class="btn btn-secondary"  >{{b.bText1}}</button>
        <button type="button" class="btn btn-primary">{{b.bText2}}</button>
      </div> 
    </div>
  </div>
</div>