.modal-content  {

    border-radius: 25px 0px 25px 0px; 
    font-family: 'Lato';
}

.modal-header{
    background-color: rgb(241, 247, 252);
    border-radius:25px 0px 0px 0px;
}
.modal-dialog {
    position: absolute;
    top: 20%;
    right: 0px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

