<div class="main-card mb-3 card">
  <div class="card-body" style=" padding: 0px 0px 0px 0px;">
      <div>
      <canvas baseChart height="7" width="10"
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
      <h6 style="margin-left: 15px;margin-top:10px;text-align: center;">Service Orders grouped by their Status</h6>
    </div>
  </div>
</div>
