footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #343a40;
    max-height: 21px;
}

.copyright,
.support {
    margin-top: 3px;
}

.support {
    text-align: right;
}

p {
    font-family: 'Lato';
    font-size: 10px;

}

a {
    color: inherit;

}

@media screen and (max-width:992px)
{
    .hidden-md{
        display:none;
    }
}

@media screen and (max-width: 768px)
{
    .hidden-sm{
        display:none;
    }
}