<footer>
  <div class="container-fluid">
  <div class="row">
  <div class="col-6">
  <p class="text-light copyright">Copyright © 2020. Cisco Systems, Inc.<span class="hidden-sm"> All rights reserved. </span>
  <a class ="hidden-md" href="//www.cisco.com/c/en/us/about/legal/terms-conditions.html">Terms &amp; Conditions </a> 
   <a class="hidden-md" href="//www.cisco.com/c/en/us/about/legal/privacy-full.html">| Privacy Statement</a></p>
  </div>
  <div class="col-6">
  <p class="text-light float-right support"><a routerLink="/contactUs">Contact Us </a> | <a href="#">Technical Support</a></p>
  </div>
  </div>
  </div>
  </footer>