<div class="container-fluid">
  <div class="row col-12 col-md col-sm">
    <marquee direction="right" scrollamount="15">
      {{broadcastMessage}}
    </marquee>
  </div>
  <div class="row">
    <div *ngIf='finalCount && finalCount.length > 0' class="spiral col-md-4 col-sm" style="margin-top: 10px;">
      <app-d3-zoomable-sunburst [sunburstElement] = 'finalCount' ></app-d3-zoomable-sunburst>
    </div>
    <div class="col-md col-sm charts">
      <div *ngIf='chartDash' class="d-flex justify-content-center card-body" style="padding:0px 0px 0px 0px;">
        <app-services-line-chart [chartElements]='chartDash'></app-services-line-chart>
      </div>
      <div *ngIf='chart1dash' class="d-flex justify-content-center" style="padding:0px 0px 0px 0px;">
        <app-service-order-bar-chart [chart1Elements]='chart1dash'></app-service-order-bar-chart>
      </div>
    </div>
    <div class="tab-content col-md col-sm" style="padding: 0px 0px 0px 0px;">
        <ul class="nav nav-fill">
          <li *ngFor='let item of statuslist' class="nav-item" (click)="fnTimelineTabClick(item)">
            <a class="nav-link cursor" data-toggle="tab">
              {{item}}
            </a>
          </li>         
        </ul>
      <app-timeline *ngIf='filterlist && filterlist.length > 0' [timelineElements]="filterlist"></app-timeline>
    </div>
  </div>
</div>