<div class="container-fluid">
  <div class="row col-12">
    <marquee direction="right" scrollamount="15">
      SITE UNDER CONSTRUCTION!
    </marquee>
  </div>
  <div class="row col-12">
    <div class="col-5">
      <app-d3-spiral-stacked-bar style="width:100%; display: inline-block;"></app-d3-spiral-stacked-bar>
    </div>
    <div class="tab-content col-4">
        <ul class="nav col-12">
          <li class="nav-item" (click)="fnTimelineTabClick('complete')">
            <a data-toggle="tab" class="active nav-link">
              COMPLETE
            </a>
          </li>
          <li class="nav-item" (click)="fnTimelineTabClick('in-process')">
            <a data-toggle="tab" class="nav-link">
              IN-PROCESS
            </a>
          </li>
          <li class="nav-item" (click)="fnTimelineTabClick('rollback')">
            <a data-toggle="tab" class="nav-link">
              ROLLBACK-IN-PROCESS
            </a>
          </li>
        </ul>
        <app-timeline [timelineElements]="timelinedash"></app-timeline>
    </div>
    <div class="col-3 charts col" style="padding-left: 10px;width:200px;">
      <div *ngIf='chartDash' class="card-body" style="padding:0px 0px 0px 0px;margin-left:5px; float: right;">
        <app-chart [chartElements]='chartDash'></app-chart>
      </div>
      <div *ngIf='chart1dash' style="float: right;">
        <app-serviceorderpiechart [chart1Elements]='chart1dash'></app-serviceorderpiechart>
      </div>
    </div>
  </div>
</div>