<div class="container-fluid">
  <div class="row col-12">
    <marquee direction="right" scrollamount="15">
      SITE UNDER CONSTRUCTION!
    </marquee>
  </div>
  <div class="row">
    <div class="col-5">
      <app-d3-spiral-stacked-bar ></app-d3-spiral-stacked-bar>
    </div>
    <div class="tab-content col-4">
        <ul class="nav  nav-fill">
          <li *ngFor='let item of statuslist' class="nav-item" (click)="fnTimelineTabClick(item)">
            <a class="nav-link cursor" data-toggle="tab" >
              {{item}}
            </a>
          </li>         
        </ul>
      <app-timeline *ngIf='filterlist && filterlist.length > 0' [timelineElements]="filterlist"></app-timeline>
         </div>
    <div class="col-3 charts" style="padding-left: 10px;width:200px;">
      <div *ngIf='chartDash' class="card-body" style="padding:0px 0px 0px 0px;margin-left:5px; ">
        <app-serviceslinechart [chartElements]='chartDash'></app-serviceslinechart>
      </div>
      <div *ngIf='chart1dash'>
        <app-serviceorderpiechart [chart1Elements]='chart1dash'></app-serviceorderpiechart>
      </div>
    </div>
  </div>
</div>