<div class="mt-2">
  <div *ngIf="buttonState(); then hideButton  else showButton"></div>
  <ng-template #showButton> <button class="btn btn-danger ml-2" (click)="deselectRows()"> <i class="fa fa-times"></i>
      Clear Selection</button>
  </ng-template>
  <ng-template #hideButton></ng-template>
  <button class="btn btn-success ml-2" (click)="onBtnExport()"><i class="fa fa-download"></i> CSV</button>

  <ag-grid-angular style="width:1100px; height:550px; padding:5px;" class="ag-theme-balham container-fluid"
    [rowData]="rowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [floatingFilter]="true"
    rowSelection="multiple" [rowDeselection]="true" [rowMultiSelectWithClick]="true" [suppressRowClickSelection]="true"
    (selectionChanged)="onSelectionChanged($event)" [pagination]="true" [paginationPageSize]="paginationPageSize"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

</div>

<app-modal (closeModal)='hideModal()' [modalConfig]='modalConfig' [displayModal]="displayModal"></app-modal>
