  <div>
    <!-- <div align="right" class="mr-3">
      <div *ngIf="buttonState(); then hideButton  else showButton"></div>
      <ng-template #showButton> <button class="ml-2" (click)="deselectRows()"> <i class="fa fa-times"></i>
          Clear Selection</button>
      </ng-template>
      <ng-template #hideButton></ng-template>
      <button class="ml-2 mt-2 btn" (click)="onBtnExport()"><i class="fa fa-download"></i> CSV</button>
    </div> -->
   
    <div [ngStyle]="style">
      <ag-grid-angular style="width: 100%; height:565px; padding:1%;" class="ag-theme-balham"
        [rowData]="rowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [floatingFilter]="true"
        rowSelection="multiple" [rowDeselection]="true" [rowMultiSelectWithClick]="true" [suppressRowClickSelection]="true"
        (selectionChanged)="onSelectionChanged($event)" [pagination]="true" [paginationPageSize]="paginationPageSize"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
  <app-modal (closeModal)='hideModal()' [modalConfig]='modalConfig' [displayModal]="displayModal"></app-modal>






