.loading-icon {
    background:  url(../../../assets/loader.gif) center no-repeat rgba(255, 255, 255, .4);
    display: inline-block;
    font-size: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999999999999!important;
  } 
  .wrapper {
    margin-top:5px;
    text-align: center;
  }