<!-- Instructions to use card component in other components:
  <app-cards [inputToCard]="cardConfig"></app-cards>
-->
<!-- <div class="row">
    <div class="col-5" id="block1">
       <div class="card" id="outerBlock">
          <div class="card-header" [ngStyle]="{'background-color': inputToCard.headerColor}">
             {{inputToCard.header}}
          </div>
          <div class="card-body">
             <p class="card-text">{{inputToCard.body}}</p>
          </div>
          <div class="card-footer text-muted" id="outer">
             <ng-container *ngFor='let btn of inputToCard.btnArray'>
                <button (click)="btn.fnName()" id="inner" class="btn btn-{{btn.color}} ml-6">{{btn.btext}}</button>
             </ng-container>
          </div>
       </div>
    </div>
 </div> -->
<div class="row my-flex-card">
  <div class="col-4" *ngFor='let item of inputToCard'>
    <div class="card border border-secondary">
      <div class="card-header py-1 px-3 line-clamp">{{item.name}}
      </div>
      <div class="card-body p-2">
        <p class="card-text line-clamp"><small>{{item.description}}</small></p>
        <div class="row">
          <div class="col-6">
            <span class="bgColor">
              {{item.tags[0]['name']}}
            </span></div>
          <div class="col-6 d-flex justify-content-end">
            <span (click)="selectFavourite(item)">
              <i class="fa fa-heart-o fa-lg mr-1"></i>
            </span>
            <button type='button' (click)="order(item)" class="btn btn-sm">Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
