<div class="bgimage">
  <!-- <img class= "d-block w-100 h-100" src='../../../assets/coffee.jpg'> -->
  <div class="container">/
    <br> <br> <br> <br> <br> <br>
    <div class="align-item-center row" style="height:100vh !important">
      <div class="col-lg-4 col-md-6 col-sm-8" style="max-width: none;">
        <div class="card" style="width:20rem;">
          <div class="card-body">
            <div class="form-group col-12">
              <h5 class="text-center">Forgot Password?</h5>
            </div>
            <form>
              <div class="form-row">
                <div class="form-group col-12 ">
                  <label for="name">Email</label>
                  <input id="name" type="email" name="email" placeholder="Enter valid email" class="form-control">
            
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  Back to <a routerLink="" class="text-primary cursor">
                    Login
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>