.vertical-timeline {
	width: 100%;
	position: relative;
	padding: 1.5rem 0 1rem
}

.vertical-timeline::after {
	content: '';
	display: table;
	clear: both
}

.vertical-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 67px;
	height: 100%;
	width: 4px;
	background: #e9ecef;
	border-radius: .25rem
}

.vertical-timeline-element {
	position: relative;
	margin: 0 0 1rem
}

.vertical-timeline-element:after {
	content: "";
	display: table;
	clear: both
}

.vertical-timeline-element:last-child {
	margin-bottom: 0
}

.vertical-timeline-element-content {
	position: relative;
	margin-left: 90px;
	font-size: .8rem
}

.vertical-timeline-element-content:after {
	content: "";
	display: table;
	clear: both
}

.vertical-timeline-element-content .timeline-title {
	font-size: .8rem;
	text-transform: uppercase;
	margin: 0 0 .5rem;
	padding: 2px 0 0;
	font-weight: bold
}

.vertical-timeline-element-content p {
	color: #6c757d;
	margin: 0 0 .5rem
}

.vertical-timeline-element-content .vertical-timeline-element-date {
	display: block;
	position: absolute;
	left: -90px;
	top: 0;
	padding-right: 10px;
	text-align: right;
	color: #adb5bd;
	font-size: .7619rem;
	white-space: nowrap
}

.vertical-timeline-element-icon {
	position: absolute;
	top: 0;
	left: 60px
}

.vertical-timeline-element-icon .badge-dot-xl {
	box-shadow: 0 0 0 5px #fff
}

.vertical-timeline-element--no-children .vertical-timeline-element-content {
	background: 0 0;
	box-shadow: none
}

.vertical-timeline-element--no-children .vertical-timeline-element-content::before {
	display: none
}

.vertical-without-time::before {
	left: 11px
}

.vertical-without-time .vertical-timeline-element-content {
	margin-left: 36px
}

.vertical-without-time .vertical-timeline-element-icon {
	left: 4px
}

.vertical-time-icons {
	padding: 2rem 0 0
}

.vertical-time-icons::before {
	content: '';
	position: absolute;
	top: 0;
	left: 14px;
	height: 100%;
	width: 6px;
	background: #e9ecef;
	border-radius: .25rem
}

.vertical-time-icons .vertical-timeline-element {
	margin-bottom: 1rem
}

.vertical-time-icons .vertical-timeline-element-content {
	margin-left: 50px
}

.vertical-time-icons .vertical-timeline-element-icon {
	width: 34px;
	height: 34px;
	left: 0;
	top: -7px
}

.vertical-time-icons .vertical-timeline-element-icon .timeline-icon {
	width: 34px;
	height: 34px;
	background: #fff;
	border-radius: 50px;
	border-width: 2px;
	border-style: solid;
	box-shadow: 0 0 0 5px #fff;
	text-align: center;
	display: flex;
	align-items: center;
	align-content: center
}

.vertical-time-icons .vertical-timeline-element-icon .timeline-icon i {
	display: block;
	font-size: 1.1rem;
	margin: 0 auto
}

.vertical-time-icons .vertical-timeline-element-icon .timeline-icon svg {
	margin: 0 auto
}

.vertical-time-simple {
	padding: .5rem 0
}

.vertical-time-simple .vertical-timeline-element {
	margin: 0 0 .5rem
}

.vertical-time-simple .timeline-title {
	font-weight: normal;
	font-size: .91667rem;
	padding: 0
}

.vertical-time-simple .vertical-timeline-element-icon {
	height: 14px;
	width: 14px;
	background: #e9ecef;
	position: absolute;
	left: 6px;
	top: 2px;
	display: block;
	border-radius: 20px
}

.vertical-time-simple .vertical-timeline-element-icon::after {
	content: '';
	position: absolute;
	background: #fff;
	left: 50%;
	top: 50%;
	margin: -4px 0 0 -4px;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 20px
}

.vertical-time-simple .timeline-title {
	text-transform: none
}

.dot-primary .vertical-timeline-element-icon {
	background: #3f6ad8
}

.dot-secondary .vertical-timeline-element-icon {
	background: #6c757d
}

.dot-success .vertical-timeline-element-icon {
	background: #3ac47d
}

.dot-info .vertical-timeline-element-icon {
	background: #16aaff
}

.dot-warning .vertical-timeline-element-icon {
	background: #f7b924
}

.dot-danger .vertical-timeline-element-icon {
	background: #d92550
}

.dot-light .vertical-timeline-element-icon {
	background: #eee
}

.dot-dark .vertical-timeline-element-icon {
	background: #343a40
}

.dot-focus .vertical-timeline-element-icon {
	background: #444054
}

.dot-alternate .vertical-timeline-element-icon {
	background: #794c8a
}

.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
	visibility: hidden
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
	visibility: visible;
	animation: cd-bounce-1 .8s
}

@-webkit-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2)
	}
	100% {
		-webkit-transform: scale(1)
	}
}

@-moz-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-moz-transform: scale(0.5)
	}
	60% {
		opacity: 1;
		-moz-transform: scale(1.2)
	}
	100% {
		-moz-transform: scale(1)
	}
}

@keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2)
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1)
	}
}

.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
	visibility: hidden
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
	visibility: visible;
	-webkit-animation: cd-bounce-2 .6s;
	-moz-animation: cd-bounce-2 .6s;
	animation: cd-bounce-2 .6s
}

@media only screen and (min-width: 1170px) {
	.vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content.bounce-in,
	.vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content.bounce-in {
		-webkit-animation: cd-bounce-2-inverse .6s;
		-moz-animation: cd-bounce-2-inverse .6s;
		animation: cd-bounce-2-inverse .6s
	}
}

@media only screen and (max-width: 1169px) {
	.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-2-inverse .6s;
		-moz-animation: cd-bounce-2-inverse .6s;
		animation: cd-bounce-2-inverse .6s
	}
}

@-webkit-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px)
	}
	100% {
		-webkit-transform: translateX(0)
	}
}

@-moz-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100px)
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(20px)
	}
	100% {
		-moz-transform: translateX(0)
	}
}

@keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		transform: translateX(-100px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px)
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0)
	}
}

@-webkit-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px)
	}
	100% {
		-webkit-transform: translateX(0)
	}
}

@-moz-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-moz-transform: translateX(100px)
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(-20px)
	}
	100% {
		-moz-transform: translateX(0)
	}
}

@keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px)
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0)
	}
}
