  
  .timeline ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;
  }
  
  .timeline ul::before {
    content: ' ';
    height: 100%;
    width: 4px;
    background-color: rgb(34, 184, 184);
    position: absolute;
    top: 0;
    left: 1.5em;
    z-index: -1;
  }
  
  .timeline .fa {
    width: 2em;
    height: 2em;
    margin-left: -20px;
    box-sizing: border-box;
    background: #fff;
    z-index: 1;
    margin-right: 1em;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.4em;
    opacity: 1;
  }
  
  .timeline h5 {
    font-size: 20px;
    font-weight: 550;
    margin: 0;
    color: rgb(26, 67, 85);
  }
  
  .timeline .year {
    font-size: 15px;
    padding-top: 0.25em;
  }  