<div class="container">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
      <span class="caret"></span></button>
    <div class="dropdown-menu">
      <div *ngFor='let field of drp'>
        <h5 class="dropdown-header">{{field.header}}</h5>
        <ul *ngFor='let item of field.label'>
          <li role="presentation">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!--drpdwn = [{
    "header": 'angular',
    "label": ['comp1', 'comp2'],

  },
  {
    "header": 'react',
    "label": ['render1', 'renser2'],

  }
  ]

<app-dropdown [drp]="drpdwn"></app-dropdown>-->