<div *ngIf='showSelectedData'>
    <div class='card'>
        <div class='card-body'>
            <div class='row'>
                <div class='col col-2'>
                    <p class='card-order'>Order Number : {{ showSelectedData.showData.orderNumber}}</p>
                </div>
                <div class='col col-2'>
                    <p class='card-order'>User : {{ showSelectedData.showData.userName}}</p>

                </div>
                <div class='col col-2'>
                    <p class='card-order'>Status : {{ showSelectedData.showData.status}}</p>

                </div>
                <div class='col col-4'>
                    <p class='card-order'>Update Date :
                        {{ showSelectedData.showData.updatedAt | date:'mediumDate'}},{{ showSelectedData.showData.updatedAt | date:'shortTime'}}
                    </p>

                </div>
                <div class='col col-2.5'>
                    <p class='card-order'>Completion : {{showSelectedData.count}}%

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<div style='background-color:lightblue'>
    <app-horizontal-timeline [timelineElement]='showSelectedData.timeline'></app-horizontal-timeline>
</div>
