<!-- <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
    [ngStyle]="{'width': progressBarWidth }">
      {{progressBarWidth}}
    </div>
  </div> -->
<div [ngClass]="flag ? container : ''">
  <!-- <app-timeline [timelineElements]="shrikanthLst"></app-timeline> -->
  <!-- <app-dashboard></app-dashboard> -->
  <app-topnav *ngIf='!flag'></app-topnav>
  <router-outlet></router-outlet>
  <app-footer *ngIf='!flag'></app-footer>
  <!-- <app-device-manager></app-device-manager> -->
