 <div class= background>  
   <!-- <img src="../../../assets/datacenter.jpg" alt="image">  -->
  <div class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container">
    <br>
      <h4>Frequently Asked Questions </h4>
      <br>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
         Q What is BPA?
          </a>
        </h3>
        </div>
        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
        <div class="panel-body px-3 mb-4">
          <p>Business Process Automation (BPA) addresses customer challenges with configuration change management with an innovative, scalable, microservices based platform with an embedded workflow engine that is standards based. BPA is pre-integrated with NSO but with its modular architecture, BPA can easily integrate with other controllers to orchestrate change across multiple domains.</p>
          <ul>
          <li>South bound integration with orchestration and operational tools such as Cisco NSO</li>
          <li>Customizable command templates for MOP automation</li>
          <li>North bound common integration APIs for consuming the services, and workflows developed through the platform</li>
          </ul>
        </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
          Benefits of BPA?
          </a>
        </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
        <div class="panel-body px-3 mb-4">
          <p>Reduces time to deliver new services
             Minimizes capital and operational expenditure
             Improves availability, capacity, and scalability of networks
             Improves operational security through consistent and automated configuration</p>
        </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
          How it works?
          </a>
        </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
        <div class="panel-body px-3 mb-4">
          <p>abcdd</p>
        </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
          next quetsion?
          </a>
        </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
        <div class="panel-body px-3 mb-4">
          <p> xyzzzz</p>
        </div>
        </div>
      </div>
      </div>
    
    </div>
  </div>
  </div>
  