<div class= background> 
  <!-- <img src="../../../assets/datacenter.jpg" alt="image"> -->
  <div class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="container">
  <br>
  <h4>Frequently Asked Questions </h4>
  <br>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" *ngFor="let item of faqDetails;let i =index">
  <div class="panel-heading p-3 mb-3" role="tab" >
  <h3 class="panel-title">
  <a class="collapsed" role="button" title="" data-toggle="collapse" [href]="'#collapse'+i" aria-expanded="true">
  Q {{item.question}}
  </a>
  </h3>
  </div>
  <div [id]="'collapse'+i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
  <div class="panel-body px-3 mb-4">
  {{item.answer}}
  <ul *ngFor="let list of item.list"> 
  <li>{{list}}</li>
  </ul>
  </div>
  </div>
  </div> 
  </div>
  </div>
  </div>