<nav class="navbar nav-fill w-100 navbar-expand-lg" style="background-color: #56bee8;">
   <a class="navbar-brand py-0" href="#">
      <img src="assets/cisco-crop.png"  height="25" width="45" alt="logo">
   </a>
   <ul class="nav mr-auto nav-fill">
    <li class="nav-item">
      <a class="nav-link py-0" href="#">Service Catalog</a>
    </li>
    <li class="nav-item DvcMgr">
      <a class="nav-link py-0" href="#">Device Manager</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle py-0" href="#" id="navbardrop" data-toggle="dropdown" >
        CEC ID(Admin)</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Manage Roles</a>
        <a class="dropdown-item" href="#">Broadcast Message</a>
        <a class="dropdown-item" href="#">Review Request</a>
        <a class="dropdown-item" href="#">My Profile</a>
      </div>
    </li>
  </ul>
    <ul class="nav">
    <li class="nav-item ">
      
      <a class="nav-link py-0" href="#">
        <span>
          <i class="fas fa-user-circle"></i>
        </span>
        <!--<img src="assets/user-icon.jpg" height="20" width="20" alt="logo">-->
      </a>
    </li>
  
    

  </ul>
     
  </nav>


