.navbar{
    max-height:40px;
    border-radius: 4px;
}

.navbar  a {
    font-size: 15px;
    color: black;
    font-family: 'Lato', serif;
}

.nav-item{
    padding-left:25px;
    padding-right:20px;
}
span{
    font-size: 25px;
}