<nav class="navbar nav-fill w-100 navbar-expand-lg" style="background-color: #56bee8;">
  <a class="navbar-brand py-0" href="#">
    <img src="assets/cisco-crop.png" height="25" width="45" alt="logo">
  </a>
  <ul class="nav mr-auto nav-fill">
    <li class="nav-item">
      <a class="nav-link py-0" href="#">Service Catalog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-0" href="#">Device Manager</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle py-0" href="#" data-toggle="dropdown">
        CEC ID(Admin)</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Manage Roles</a>
        <a class="dropdown-item" href="#">Broadcast Message</a>
        <a class="dropdown-item" href="#">Review Request</a>
        <a class="dropdown-item active" href="#">My Profile</a>
      </div>
    </li>
  </ul>
  <ul class="nav">
    <li>
      <a class="py-0" href="#">
        <span>
          <i class="fas fa-user-circle"></i>
        </span>
      </a>
    </li>
    <li class="account">
      <span class="d-block profile">Katherine McGoulin</span>
      <span class="d-block profile">Analyst</span>
    </li>
    <div class="dropdown">
      <button class="btn dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-bars iconSize"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">FAQ</a>
        <a class="dropdown-item" href="#">Reset Password</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
  </ul>
</nav>
