body{
  background-color:white;
  font-family:'Lato';
}
.listView{
  background-color:white;
}
.fa-heart-o {
  -webkit-text-stroke-width: 1px;
}

.box{
  border: 2px solid black;
}
.btn{
  border-radius: 10px;
  padding: 3px 11px;
  background-color:#017CAD;
  color: white;

}
.card-body{
  padding:0.5rem; 
}
.bgColor{
  background: #ddd!important;
    border-radius: 2px!important;
    letter-spacing: .3px!important;
    font-weight: bold;
    color: #39393b;
    margin: 0 10px 0 0;
    padding: 6px 3px;
    font-size: 12px;
    display: inline-block;
    line-height: 1;
}
.fa-lg{
  color:#017CAD;  
  -webkit-text-stroke-width: 1px;
} 
.fa-lg:hover{
  cursor:pointer ;
}
hr {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

p{
  margin-bottom: 0rem;
}
h6{
  margin-bottom: 0rem;
  font-weight: bold;
}
