<!--<app-cards [inputToCard]='cardResponse'></app-cards>
<div *ngFor ='let item of Response'>
<p>{{item.name}}</p>
</div>--->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="margin-top:30px">
  <div class="row ">
    <label class="switch ml-3 d-flex justify-content-start">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    Favourites
    <ui-switch class="ml-auto mr-4" [(ngModel)]="enable" checkedLabel="Grid" uncheckedLabel="List"
      defaultBgColor="#FFEFD5" color='#E6E6FA'>
      <i class="fa fa-th" *ngIf="enable"></i>
      <i class="fa fa-list" *ngIf="!enable"></i>
    </ui-switch>
  </div>
</div>
<div class="container-fluid" style="margin-top:10px">
  <div class="row service_items">
    <div div class="col-sm-3 mt-4">
      <div *ngFor='let item of Response'>
        <div class="custom-control custom-checkbox mb-2">
          <input type="checkbox" (click)='getCheck(item)' class="custom-control-input" id="{{item.name}}" name="option">
          <label class="custom-control-label" for="{{item.name}}">{{item.name}}</label>
        </div>
        <hr class="d-sm-none">
      </div>
    </div>
    <div class="col-sm-9 mt-4">
      <app-cards [inputToCard]='cardResponse'></app-cards>
    </div>
  </div>
</div>
