<!--<app-cards [inputToCard]='cardResponse'></app-cards>
<div *ngFor ='let item of Response'>
<p>{{item.name}}</p>
</div>--->

<body>
  <div class="container-fluid service_items ">
    <div class="row ">
      <div class="col-md-3 ">
        
        <div class="row mt-4">
          <ui-switch class="ml-2" (click)=getFav(enable) [(ngModel)]="enable"  defaultBgColor="#D4F0FE" color='white' defaultBoColor="#017CAD" switchColor="#017CAD">
            <i class="fa fa-heart" style="color:white" *ngIf="enable"></i>
            <i class="fa fa-heart-o" style="color:white" *ngIf="!enable"></i>
          </ui-switch><p class="ml-1 mt-1">Favourites</p>
          <ui-switch class="col-6"  [(ngModel)]="enable1" checkedLabel="List" defaultBoColor="#017CAD"
            uncheckedLabel="Grid" defaultBgColor="#D4F0FE" color='#E6E6FA'switchColor="#017CAD" >
            <i class="fa fa-list" style="color:white" *ngIf="enable1"></i>
            <i class="fa fa-th" style="color:white" *ngIf="!enable1"></i>
          </ui-switch>
        </div>
        <div class="row search-box">
          <div><input class="search-txt" type="text" name="" placeholder="Search.."></div>
          <div class="">
            <span class="search-btn" >
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
        <div class="mt-3" *ngIf="Response && Response.length">
          <div *ngFor='let item of Response; let i =index'>
            <div class="custom-control custom-checkbox mb-2 ">
              <input type="checkbox" (click)='getCheck(i)' class="custom-control-input" id="{{item.name}}"
                name="option">
              <label class="custom-control-label" for="{{item.name}}">{{item.name}}</label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf='!enable1' class="col-md-9 mt-4">
        <app-cards (deleteFav)='deleteFavourite($event)' (addFav)='selectFavourite($event)' [inputToCard]='cardResponse'></app-cards>
      </div>
      <div *ngIf='enable1' class="col-md-9 mt-4 listView">
        <div *ngFor='let item of cardResponse'>
          <h6 appEllipsifyMe>{{item.name}}</h6>
          <div class="row">
            <div class="col-9">
              <p appEllipsifyMe><small>{{item.description}}</small></p>
            </div>
            <div class="col-2 ">
              <span class="bgColor">
                {{ item.tags.length > 0 ? item.tags[0]['name'] : '-'}}
              </span>
            </div>
            <div class="col-1 d-flex justify-content-end">
              <span *ngIf='item.flag' (click)="deleteFavourite(item)">
                <i class="fa fa-heart fa-lg mr-2"></i>
              </span>
              <span *ngIf='!item.flag' (click)="selectFavourite(item)">
                <i class="fa fa-heart-o fa-lg mr-2"></i>
              </span>
              <button type='button' (click)="order(item)" class="btn btn-sm">Order</button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</body>
