<!--export class AppComponent {
  progressResponse={
    value: '90%'
  }
  constructor(private httpClient: HttpClient) { }

  ngOnInit() {
    console.log('Inside ngOnInit');

    const httpOptions = {
      headers : new HttpHeaders({
        Accept : 'application/json',
        Authorization: 'Basic YWRtaW46YWRtaW4='
      })
    };

    this.httpClient.post('https://10.83.34.65/bpa/api/v1.0/login', {}, httpOptions).subscribe((responseObj) => {
      console.log('Response: ', responseObj);
    });
  }
}-->
<!--Calling my component
<app-progressbar [progressBarResponse]='progressResponse'></app-progressbar>-->
<div class="progress">
  <div class="progress-bar" role="progressbar" [style.width]=progressBarResponse.value>{{progressBarResponse.value}}
  </div>
</div>
