<div id="smartwizard">
  <ul>
      <li><a href="#step-1">Step Title<br /><small>Step description</small></a></li>
      <li><a href="#step-2">Step Title<br /><small>Step description</small></a></li>
      <li><a href="#step-3">Step Title<br /><small>Step description</small></a></li>
      <li><a href="#step-4">Step Title<br /><small>Step description</small></a></li>
  </ul>

  <div>
      <div id="step-1" class="">
          Step Content
      </div>
      <div id="step-2" class="">
          Step Content
      </div>
      <div id="step-3" class="">
          Step Content
      </div>
      <div id="step-4" class="">
          Step Content
      </div>
  </div>
</div>