<div class="main-card mb-3 card">
  <div class="card-body" style=" padding: 0px 0px 0px 0px;">
      <div>
      <canvas baseChart height="7" width="10"
        [data]="barChartData"
        [labels]="barChartLabels"
        [chartType]="barChartType"
        [options]="barChartOptions"
        [colors]="barChartColors"
        [legend]="barChartLegend">
      </canvas>
      <h6 style="margin-left: 15px;margin-top:0px;text-align: center;">Status of Service Orders</h6>
    </div>
  </div>
</div>
