<!-- <div class="card-body">
  <div>
    <div>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
    </div>
  </div>
</div>

 -->
 <div class="main-card mb-3 card">
      <div style="height: 1px;">
        <canvas id="canvas">{{ chart }}</canvas>
        <h6 style="margin-left: 15px;margin-top:10px;text-align: center;">Service Orders - Role specific</h6>

      </div>
</div>

