<!-- <div class="card-body">
  <div>
    <div>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
    </div>
  </div>
</div>

 -->
 <div class="main-card mb-3 card">
  
      <div style="height: 150px;">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
  
</div>

